In [171]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties

In [172]:
#Load data
df1=pd.read_csv('./processed_data/train_1.csv',encoding='utf-8')
#df2=pd.read_csv('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/weekday_data_train_withday.csv',encoding='utf-8')
df3=pd.read_excel('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/2h_route_avg_train.xlsx',encoding='utf-8')

In [173]:
df1.columns

Index(['Unnamed: 0', 'intersection_id', 'tollgate_id', 'time_window',
       'avg_travel_time', 'route', 'avg_travel_time_log', 'start_datetime',
       'start_hour', 'day_of_week', 'weekday', 'holiday', 'rush_hour',
       'hour_of_day', 'date', 'hour', 'pressure', 'sea_pressure',
       'wind_direction', 'wind_speed', 'temperature', 'rel_humidity',
       'precipitation', 'datetime'],
      dtype='object')

In [174]:
df1.shape

(25144, 24)

In [175]:
df1['route']=df1['intersection_id']+'-'+df1['tollgate_id'].astype('str')
df3['route']=df3['intersection_id']+'-'+df3['tollgate_id'].astype('str')

In [176]:
df3.head(2)

,intersection_id,tollgate_id,time_window,avg_travel_time,time_window_start,time_window_end,time_window_2h_start,link_seq,link_list,link_num,road_length,route_car_number,route_avg_speed,route_avg_traveltime,route_total_traveltime,route
0,B,3,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",70.85,2016-07-19 00:00:00,2016-07-19 00:20:00,2016-07-18 22:00:00,"105,100,111,103,122","['105', '100', '111', '103', '122']",5,477,0,inf,0.0,0,B-3
1,B,3,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",148.79,2016-07-19 00:20:00,2016-07-19 00:40:00,2016-07-18 22:20:00,"105,100,111,103,122","['105', '100', '111', '103', '122']",5,477,1,6.814286,70.0,70,B-3

In [177]:
df1.shape

(25144, 24)

In [178]:
df3.columns

Index(['intersection_id', 'tollgate_id', 'time_window', 'avg_travel_time',
       'time_window_start', 'time_window_end', 'time_window_2h_start',
       'link_seq', 'link_list', 'link_num', 'road_length', 'route_car_number',
       'route_avg_speed', 'route_avg_traveltime', 'route_total_traveltime',
       'route'],
      dtype='object')

In [179]:
df1.columns

Index(['Unnamed: 0', 'intersection_id', 'tollgate_id', 'time_window',
       'avg_travel_time', 'route', 'avg_travel_time_log', 'start_datetime',
       'start_hour', 'day_of_week', 'weekday', 'holiday', 'rush_hour',
       'hour_of_day', 'date', 'hour', 'pressure', 'sea_pressure',
       'wind_direction', 'wind_speed', 'temperature', 'rel_humidity',
       'precipitation', 'datetime'],
      dtype='object')

In [180]:
# df3 = pd.merge(df2[['route','time_window']],df3,how='left',on=['route','time_window'])

In [181]:
df3.shape

(25144, 16)

In [182]:
dfnn=df3[['route', 'time_window_2h_start', 'route_car_number',
       'route_avg_speed', 'route_avg_traveltime', 'route_total_traveltime']]

In [183]:
df1.shape

(25144, 24)

In [184]:
dfnn.columns

Index(['route', 'time_window_2h_start', 'route_car_number', 'route_avg_speed',
       'route_avg_traveltime', 'route_total_traveltime'],
      dtype='object')

In [185]:
from datetime import datetime
from datetime import timedelta
min_delta=pd.to_datetime('2019-9-4 00:20:00') - pd.to_datetime('2019-9-4 00:00:00')
min_delta
h2_delta=pd.to_datetime('2019-9-4 02:00:00') - pd.to_datetime('2019-9-4 00:00:00')
h2_delta

Timedelta('0 days 02:00:00')

dfnn['time_window_2h_start']=pd.to_datetime(dfnn['time_window_2h_start'])

In [186]:
dfnn['time_after_start1']=dfnn['time_window_2h_start']+h2_delta
dfnn['time_after_start2']=dfnn['time_window_2h_start']+h2_delta+min_delta
dfnn['time_after_start3']=dfnn['time_window_2h_start']+h2_delta+2*min_delta
dfnn['time_after_start4']=dfnn['time_window_2h_start']+h2_delta+3*min_delta
dfnn['time_after_start5']=dfnn['time_window_2h_start']+h2_delta+4*min_delta
dfnn['time_after_start6']=dfnn['time_window_2h_start']+h2_delta+5*min_delta

/Users/liuxueling/anaconda2/envs/python35/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/liuxueling/anaconda2/envs/python35/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/liuxueling/anaconda2/envs/python35/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/liuxueling/anaconda2/envs/python35/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/liuxueling/anaconda2/envs/python35/lib/python3.5/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/liuxueling/anaconda2/envs/python35/lib/python3.5/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [187]:
dfnn.shape

(25144, 12)

In [188]:
time_window_new=df1['time_window'].str.lstrip('[')
time_window_new=time_window_new.str.rstrip(')')
time_window_new=time_window_new.str.split(',',expand=True)
time_window_new
df1['time_window_start']=pd.to_datetime(time_window_new[0])
df1['time_window_end']=pd.to_datetime(time_window_new[1])
df1.head(5)

,Unnamed: 0,intersection_id,tollgate_id,time_window,avg_travel_time,route,avg_travel_time_log,start_datetime,start_hour,day_of_week,...,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation,datetime,time_window_start,time_window_end
0,0,B,3,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",70.85,B-3,4.274581,2016-07-19 00:00:00,0,1,...,1000.9,1005.8,219.0,3.3,27.5,81.0,0.0,2016-07-19 00:00:00,2016-07-19 00:00:00,2016-07-19 00:20:00
1,1,A,2,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",58.05,A-2,4.078385,2016-07-19 00:20:00,0,1,...,1000.9,1005.8,219.0,3.3,27.5,81.0,0.0,2016-07-19 00:00:00,2016-07-19 00:20:00,2016-07-19 00:40:00
2,2,B,1,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",79.76,B-1,4.391482,2016-07-19 00:20:00,0,1,...,1000.9,1005.8,219.0,3.3,27.5,81.0,0.0,2016-07-19 00:00:00,2016-07-19 00:20:00,2016-07-19 00:40:00
3,3,B,3,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",148.79,B-3,5.009234,2016-07-19 00:20:00,0,1,...,1000.9,1005.8,219.0,3.3,27.5,81.0,0.0,2016-07-19 00:00:00,2016-07-19 00:20:00,2016-07-19 00:40:00
4,4,B,1,"[2016-07-19 00:40:00,2016-07-19 01:00:00)",137.98,B-1,4.934330,2016-07-19 00:40:00,0,1,...,1000.9,1005.8,219.0,3.3,27.5,81.0,0.0,2016-07-19 00:00:00,2016-07-19 00:40:00,2016-07-19 01:00:00

In [189]:
df1['start_datetime']=pd.to_datetime(df['start_datetime'])

In [190]:

dfnn = pd.merge(dfnn,df1,how='inner',left_on=['route','time_after_start1'],right_on=['route','time_window_start'],suffixes=('_nn', '_1'))#.rename(columns={'avg_travel_time':'avg_travel_time1'}) #df3['time_window_2h_start']

In [191]:
dfnn.shape

(25144, 37)

In [192]:
dfnn = pd.merge(dfnn,df1,how='inner',left_on=['route','time_after_start2'],right_on=['route','time_window_start'],suffixes=('_1', '_2'))#.rename(columns={'avg_travel_time':'avg_travel_time1'}) #df3['time_window_2h_start']

In [193]:
dfnn.shape

(20395, 62)

In [194]:
dfnn = pd.merge(dfnn,df1,how='inner',left_on=['route','time_after_start3'],right_on=['route','time_window_start'],suffixes=('_2', '_3'))#.rename(columns={'avg_travel_time':'avg_travel_time1'}) #df3['time_window_2h_start']

In [195]:
dfnn.columns

Index(['route', 'time_window_2h_start', 'route_car_number', 'route_avg_speed',
       'route_avg_traveltime', 'route_total_traveltime', 'time_after_start1',
       'time_after_start2', 'time_after_start3', 'time_after_start4',
       'time_after_start5', 'time_after_start6', 'Unnamed: 0_1',
       'intersection_id_1', 'tollgate_id_1', 'time_window_1',
       'avg_travel_time_1', 'avg_travel_time_log_1', 'start_datetime_1',
       'start_hour_1', 'day_of_week_1', 'weekday_1', 'holiday_1',
       'rush_hour_1', 'hour_of_day_1', 'date_1', 'hour_1', 'pressure_1',
       'sea_pressure_1', 'wind_direction_1', 'wind_speed_1', 'temperature_1',
       'rel_humidity_1', 'precipitation_1', 'datetime_1',
       'time_window_start_1', 'time_window_end_1', 'Unnamed: 0_2',
       'intersection_id_2', 'tollgate_id_2', 'time_window_2',
       'avg_travel_time_2', 'avg_travel_time_log_2', 'start_datetime_2',
       'start_hour_2', 'day_of_week_2', 'weekday_2', 'holiday_2',
       'rush_hour_2', 'hour_of_day_2', 'date_2', 'hour_2', 'pressure_2',
       'sea_pressure_2', 'wind_direction_2', 'wind_speed_2', 'temperature_2',
       'rel_humidity_2', 'precipitation_2', 'datetime_2',
       'time_window_start_2', 'time_window_end_2', 'Unnamed: 0',
       'intersection_id', 'tollgate_id', 'time_window', 'avg_travel_time',
       'avg_travel_time_log', 'start_datetime', 'start_hour', 'day_of_week',
       'weekday', 'holiday', 'rush_hour', 'hour_of_day', 'date', 'hour',
       'pressure', 'sea_pressure', 'wind_direction', 'wind_speed',
       'temperature', 'rel_humidity', 'precipitation', 'datetime',
       'time_window_start', 'time_window_end'],
      dtype='object')

In [196]:
dfnn = pd.merge(dfnn,df1,how='inner',left_on=['route','time_after_start4'],right_on=['route','time_window_start'],suffixes=('_3', '_4')) #df3['time_window_2h_start']

dfnn.head(5)

,route,time_window_2h_start,route_car_number,route_avg_speed,route_avg_traveltime,route_total_traveltime,time_after_start1,time_after_start2,time_after_start3,time_after_start4,...,pressure_4,sea_pressure_4,wind_direction_4,wind_speed_4,temperature_4,rel_humidity_4,precipitation_4,datetime_4,time_window_start_4,time_window_end_4
0,B-3,2016-07-19 01:40:00,5,4.042373,118.000000,590,2016-07-19 03:40:00,2016-07-19 04:00:00,2016-07-19 04:20:00,2016-07-19 04:40:00,...,1000.5,1005.3,212.0,3.8,31.7,65.0,0.0,2016-07-19 03:00:00,2016-07-19 04:40:00,2016-07-19 05:00:00
1,B-3,2016-07-19 02:00:00,7,4.194724,113.714286,796,2016-07-19 04:00:00,2016-07-19 04:20:00,2016-07-19 04:40:00,2016-07-19 05:00:00,...,1000.5,1005.3,212.0,3.8,31.7,65.0,0.0,2016-07-19 03:00:00,2016-07-19 05:00:00,2016-07-19 05:20:00
2,B-3,2016-07-19 04:00:00,6,5.056537,94.333333,566,2016-07-19 06:00:00,2016-07-19 06:20:00,2016-07-19 06:40:00,2016-07-19 07:00:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 07:00:00,2016-07-19 07:20:00
3,B-3,2016-07-19 04:20:00,5,4.595376,103.800000,519,2016-07-19 06:20:00,2016-07-19 06:40:00,2016-07-19 07:00:00,2016-07-19 07:20:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 07:20:00,2016-07-19 07:40:00
4,B-3,2016-07-19 04:40:00,5,4.021922,118.600000,593,2016-07-19 06:40:00,2016-07-19 07:00:00,2016-07-19 07:20:00,2016-07-19 07:40:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 07:40:00,2016-07-19 08:00:00

In [197]:
dfnn = pd.merge(dfnn,df1,how='inner',left_on=['route','time_after_start5'],right_on=['route','time_window_start'],suffixes=('_4', '_5')) #df3['time_window_2h_start']

dfnn.head(5)

,route,time_window_2h_start,route_car_number,route_avg_speed,route_avg_traveltime,route_total_traveltime,time_after_start1,time_after_start2,time_after_start3,time_after_start4,...,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation,datetime,time_window_start,time_window_end
0,B-3,2016-07-19 01:40:00,5,4.042373,118.000000,590,2016-07-19 03:40:00,2016-07-19 04:00:00,2016-07-19 04:20:00,2016-07-19 04:40:00,...,1000.5,1005.3,212.0,3.8,31.7,65.0,0.0,2016-07-19 03:00:00,2016-07-19 05:00:00,2016-07-19 05:20:00
1,B-3,2016-07-19 04:00:00,6,5.056537,94.333333,566,2016-07-19 06:00:00,2016-07-19 06:20:00,2016-07-19 06:40:00,2016-07-19 07:00:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 07:20:00,2016-07-19 07:40:00
2,B-3,2016-07-19 04:20:00,5,4.595376,103.800000,519,2016-07-19 06:20:00,2016-07-19 06:40:00,2016-07-19 07:00:00,2016-07-19 07:20:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 07:40:00,2016-07-19 08:00:00
3,B-3,2016-07-19 04:40:00,5,4.021922,118.600000,593,2016-07-19 06:40:00,2016-07-19 07:00:00,2016-07-19 07:20:00,2016-07-19 07:40:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 08:00:00,2016-07-19 08:20:00
4,B-3,2016-07-19 05:00:00,4,3.289655,145.000000,580,2016-07-19 07:00:00,2016-07-19 07:20:00,2016-07-19 07:40:00,2016-07-19 08:00:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 08:20:00,2016-07-19 08:40:00

In [198]:
dfnn = pd.merge(dfnn,df1,how='inner',left_on=['route','time_after_start6'],right_on=['route','time_window_start'],suffixes=('_5', '_6')) #df3['time_window_2h_start']

dfnn.head(5)

,route,time_window_2h_start,route_car_number,route_avg_speed,route_avg_traveltime,route_total_traveltime,time_after_start1,time_after_start2,time_after_start3,time_after_start4,...,pressure_6,sea_pressure_6,wind_direction_6,wind_speed_6,temperature_6,rel_humidity_6,precipitation_6,datetime_6,time_window_start_6,time_window_end_6
0,B-3,2016-07-19 04:00:00,6,5.056537,94.333333,566,2016-07-19 06:00:00,2016-07-19 06:20:00,2016-07-19 06:40:00,2016-07-19 07:00:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 07:40:00,2016-07-19 08:00:00
1,B-3,2016-07-19 04:20:00,5,4.595376,103.800000,519,2016-07-19 06:20:00,2016-07-19 06:40:00,2016-07-19 07:00:00,2016-07-19 07:20:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 08:00:00,2016-07-19 08:20:00
2,B-3,2016-07-19 04:40:00,5,4.021922,118.600000,593,2016-07-19 06:40:00,2016-07-19 07:00:00,2016-07-19 07:20:00,2016-07-19 07:40:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 08:20:00,2016-07-19 08:40:00
3,B-3,2016-07-19 05:00:00,4,3.289655,145.000000,580,2016-07-19 07:00:00,2016-07-19 07:20:00,2016-07-19 07:40:00,2016-07-19 08:00:00,...,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00,2016-07-19 08:40:00,2016-07-19 09:00:00
4,B-3,2016-07-19 05:20:00,8,3.966736,120.250000,962,2016-07-19 07:20:00,2016-07-19 07:40:00,2016-07-19 08:00:00,2016-07-19 08:20:00,...,998.7,1003.5,218.0,2.0,31.5,69.0,0.0,2016-07-19 09:00:00,2016-07-19 09:00:00,2016-07-19 09:20:00

In [202]:
dfnn.shape

(14083, 162)

In [204]:
print(list(dfnn.columns))

['route', 'time_window_2h_start', 'route_car_number', 'route_avg_speed', 'route_avg_traveltime', 'route_total_traveltime', 'time_after_start1', 'time_after_start2', 'time_after_start3', 'time_after_start4', 'time_after_start5', 'time_after_start6', 'Unnamed: 0_1', 'intersection_id_1', 'tollgate_id_1', 'time_window_1', 'avg_travel_time_1', 'avg_travel_time_log_1', 'start_datetime_1', 'start_hour_1', 'day_of_week_1', 'weekday_1', 'holiday_1', 'rush_hour_1', 'hour_of_day_1', 'date_1', 'hour_1', 'pressure_1', 'sea_pressure_1', 'wind_direction_1', 'wind_speed_1', 'temperature_1', 'rel_humidity_1', 'precipitation_1', 'datetime_1', 'time_window_start_1', 'time_window_end_1', 'Unnamed: 0_2', 'intersection_id_2', 'tollgate_id_2', 'time_window_2', 'avg_travel_time_2', 'avg_travel_time_log_2', 'start_datetime_2', 'start_hour_2', 'day_of_week_2', 'weekday_2', 'holiday_2', 'rush_hour_2', 'hour_of_day_2', 'date_2', 'hour_2', 'pressure_2', 'sea_pressure_2', 'wind_direction_2', 'wind_speed_2', 'temperature_2', 'rel_humidity_2', 'precipitation_2', 'datetime_2', 'time_window_start_2', 'time_window_end_2', 'Unnamed: 0_3', 'intersection_id_3', 'tollgate_id_3', 'time_window_3', 'avg_travel_time_3', 'avg_travel_time_log_3', 'start_datetime_3', 'start_hour_3', 'day_of_week_3', 'weekday_3', 'holiday_3', 'rush_hour_3', 'hour_of_day_3', 'date_3', 'hour_3', 'pressure_3', 'sea_pressure_3', 'wind_direction_3', 'wind_speed_3', 'temperature_3', 'rel_humidity_3', 'precipitation_3', 'datetime_3', 'time_window_start_3', 'time_window_end_3', 'Unnamed: 0_4', 'intersection_id_4', 'tollgate_id_4', 'time_window_4', 'avg_travel_time_4', 'avg_travel_time_log_4', 'start_datetime_4', 'start_hour_4', 'day_of_week_4', 'weekday_4', 'holiday_4', 'rush_hour_4', 'hour_of_day_4', 'date_4', 'hour_4', 'pressure_4', 'sea_pressure_4', 'wind_direction_4', 'wind_speed_4', 'temperature_4', 'rel_humidity_4', 'precipitation_4', 'datetime_4', 'time_window_start_4', 'time_window_end_4', 'Unnamed: 0_5', 'intersection_id_5', 'tollgate_id_5', 'time_window_5', 'avg_travel_time_5', 'avg_travel_time_log_5', 'start_datetime_5', 'start_hour_5', 'day_of_week_5', 'weekday_5', 'holiday_5', 'rush_hour_5', 'hour_of_day_5', 'date_5', 'hour_5', 'pressure_5', 'sea_pressure_5', 'wind_direction_5', 'wind_speed_5', 'temperature_5', 'rel_humidity_5', 'precipitation_5', 'datetime_5', 'time_window_start_5', 'time_window_end_5', 'Unnamed: 0_6', 'intersection_id_6', 'tollgate_id_6', 'time_window_6', 'avg_travel_time_6', 'avg_travel_time_log_6', 'start_datetime_6', 'start_hour_6', 'day_of_week_6', 'weekday_6', 'holiday_6', 'rush_hour_6', 'hour_of_day_6', 'date_6', 'hour_6', 'pressure_6', 'sea_pressure_6', 'wind_direction_6', 'wind_speed_6', 'temperature_6', 'rel_humidity_6', 'precipitation_6', 'datetime_6', 'time_window_start_6', 'time_window_end_6']

In [205]:
dfnn.to_csv('./processed_data/training_nn.csv')

# test数据，待修改

In [363]:
#Load data
df4=pd.read_csv('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/test_1.csv',encoding='utf-8')
df5=pd.read_csv('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/test_data_with_weekdata 1.csv',encoding='utf-8')
df6=pd.read_excel('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/2h_route_avg_test.xlsx',encoding='utf-8')

In [364]:
df4['route']=df4['intersection_id']+'-'+df4['tollgate_id'].astype('str')
df6['route']=df6['intersection_id']+'-'+df6['tollgate_id'].astype('str')

In [365]:
df5['time_window']=df5['time_window'].astype('str')
df4['time_window']=df4['time_window'].astype('str')

In [366]:
set(df5['time_window'].values)

{'[2016-10-18 08:00:00,2016-10-18 08:20:00)',
 '[2016-10-18 08:20:00,2016-10-18 08:40:00)',
 '[2016-10-18 08:40:00,2016-10-18 09:00:00)',
 '[2016-10-18 09:00:00,2016-10-18 09:20:00)',
 '[2016-10-18 09:20:00,2016-10-18 09:40:00)',
 '[2016-10-18 09:40:00,2016-10-18 10:00:00)',
 '[2016-10-18 17:00:00,2016-10-18 17:20:00)',
 '[2016-10-18 17:20:00,2016-10-18 17:40:00)',
 '[2016-10-18 17:40:00,2016-10-18 18:00:00)',
 '[2016-10-18 18:00:00,2016-10-18 18:20:00)',
 '[2016-10-18 18:20:00,2016-10-18 18:40:00)',
 '[2016-10-18 18:40:00,2016-10-18 19:00:00)',
 '[2016-10-19 08:00:00,2016-10-19 08:20:00)',
 '[2016-10-19 08:20:00,2016-10-19 08:40:00)',
 '[2016-10-19 08:40:00,2016-10-19 09:00:00)',
 '[2016-10-19 09:00:00,2016-10-19 09:20:00)',
 '[2016-10-19 09:20:00,2016-10-19 09:40:00)',
 '[2016-10-19 09:40:00,2016-10-19 10:00:00)',
 '[2016-10-19 17:00:00,2016-10-19 17:20:00)',
 '[2016-10-19 17:20:00,2016-10-19 17:40:00)',
 '[2016-10-19 17:40:00,2016-10-19 18:00:00)',
 '[2016-10-19 18:00:00,2016-10-19 18:20:00)',
 '[2016-10-19 18:20:00,2016-10-19 18:40:00)',
 '[2016-10-19 18:40:00,2016-10-19 19:00:00)',
 '[2016-10-20 08:00:00,2016-10-20 08:20:00)',
 '[2016-10-20 08:20:00,2016-10-20 08:40:00)',
 '[2016-10-20 08:40:00,2016-10-20 09:00:00)',
 '[2016-10-20 09:00:00,2016-10-20 09:20:00)',
 '[2016-10-20 09:20:00,2016-10-20 09:40:00)',
 '[2016-10-20 09:40:00,2016-10-20 10:00:00)',
 '[2016-10-20 17:00:00,2016-10-20 17:20:00)',
 '[2016-10-20 17:20:00,2016-10-20 17:40:00)',
 '[2016-10-20 17:40:00,2016-10-20 18:00:00)',
 '[2016-10-20 18:00:00,2016-10-20 18:20:00)',
 '[2016-10-20 18:20:00,2016-10-20 18:40:00)',
 '[2016-10-20 18:40:00,2016-10-20 19:00:00)',
 '[2016-10-21 08:00:00,2016-10-21 08:20:00)',
 '[2016-10-21 08:20:00,2016-10-21 08:40:00)',
 '[2016-10-21 08:40:00,2016-10-21 09:00:00)',
 '[2016-10-21 09:00:00,2016-10-21 09:20:00)',
 '[2016-10-21 09:20:00,2016-10-21 09:40:00)',
 '[2016-10-21 09:40:00,2016-10-21 10:00:00)',
 '[2016-10-21 17:00:00,2016-10-21 17:20:00)',
 '[2016-10-21 17:20:00,2016-10-21 17:40:00)',
 '[2016-10-21 17:40:00,2016-10-21 18:00:00)',
 '[2016-10-21 18:00:00,2016-10-21 18:20:00)',
 '[2016-10-21 18:20:00,2016-10-21 18:40:00)',
 '[2016-10-21 18:40:00,2016-10-21 19:00:00)',
 '[2016-10-22 08:00:00,2016-10-22 08:20:00)',
 '[2016-10-22 08:20:00,2016-10-22 08:40:00)',
 '[2016-10-22 08:40:00,2016-10-22 09:00:00)',
 '[2016-10-22 09:00:00,2016-10-22 09:20:00)',
 '[2016-10-22 09:20:00,2016-10-22 09:40:00)',
 '[2016-10-22 09:40:00,2016-10-22 10:00:00)',
 '[2016-10-22 17:00:00,2016-10-22 17:20:00)',
 '[2016-10-22 17:20:00,2016-10-22 17:40:00)',
 '[2016-10-22 17:40:00,2016-10-22 18:00:00)',
 '[2016-10-22 18:00:00,2016-10-22 18:20:00)',
 '[2016-10-22 18:20:00,2016-10-22 18:40:00)',
 '[2016-10-22 18:40:00,2016-10-22 19:00:00)',
 '[2016-10-23 08:00:00,2016-10-23 08:20:00)',
 '[2016-10-23 08:20:00,2016-10-23 08:40:00)',
 '[2016-10-23 08:40:00,2016-10-23 09:00:00)',
 '[2016-10-23 09:00:00,2016-10-23 09:20:00)',
 '[2016-10-23 09:20:00,2016-10-23 09:40:00)',
 '[2016-10-23 09:40:00,2016-10-23 10:00:00)',
 '[2016-10-23 17:00:00,2016-10-23 17:20:00)',
 '[2016-10-23 17:20:00,2016-10-23 17:40:00)',
 '[2016-10-23 17:40:00,2016-10-23 18:00:00)',
 '[2016-10-23 18:00:00,2016-10-23 18:20:00)',
 '[2016-10-23 18:20:00,2016-10-23 18:40:00)',
 '[2016-10-23 18:40:00,2016-10-23 19:00:00)',
 '[2016-10-24 08:00:00,2016-10-24 08:20:00)',
 '[2016-10-24 08:20:00,2016-10-24 08:40:00)',
 '[2016-10-24 08:40:00,2016-10-24 09:00:00)',
 '[2016-10-24 09:00:00,2016-10-24 09:20:00)',
 '[2016-10-24 09:20:00,2016-10-24 09:40:00)',
 '[2016-10-24 09:40:00,2016-10-24 10:00:00)',
 '[2016-10-24 17:00:00,2016-10-24 17:20:00)',
 '[2016-10-24 17:20:00,2016-10-24 17:40:00)',
 '[2016-10-24 17:40:00,2016-10-24 18:00:00)',
 '[2016-10-24 18:00:00,2016-10-24 18:20:00)',
 '[2016-10-24 18:20:00,2016-10-24 18:40:00)',
 '[2016-10-24 18:40:00,2016-10-24 19:00:00)'}

In [148]:
set(df4['time_window'].values)

{'[2016-10-18 08:00:00,2016-10-18 08:20:00)',
 '[2016-10-18 08:20:00,2016-10-18 08:40:00)',
 '[2016-10-18 08:40:00,2016-10-18 09:00:00)',
 '[2016-10-18 09:00:00,2016-10-18 09:20:00)',
 '[2016-10-18 09:20:00,2016-10-18 09:40:00)',
 '[2016-10-18 09:40:00,2016-10-18 10:00:00)',
 '[2016-10-18 17:00:00,2016-10-18 17:20:00)',
 '[2016-10-18 17:20:00,2016-10-18 17:40:00)',
 '[2016-10-18 17:40:00,2016-10-18 18:00:00)',
 '[2016-10-18 18:00:00,2016-10-18 18:20:00)',
 '[2016-10-18 18:20:00,2016-10-18 18:40:00)',
 '[2016-10-18 18:40:00,2016-10-18 19:00:00)',
 '[2016-10-19 08:00:00,2016-10-19 08:20:00)',
 '[2016-10-19 08:20:00,2016-10-19 08:40:00)',
 '[2016-10-19 08:40:00,2016-10-19 09:00:00)',
 '[2016-10-19 09:00:00,2016-10-19 09:20:00)',
 '[2016-10-19 09:20:00,2016-10-19 09:40:00)',
 '[2016-10-19 09:40:00,2016-10-19 10:00:00)',
 '[2016-10-19 17:00:00,2016-10-19 17:20:00)',
 '[2016-10-19 17:20:00,2016-10-19 17:40:00)',
 '[2016-10-19 17:40:00,2016-10-19 18:00:00)',
 '[2016-10-19 18:00:00,2016-10-19 18:20:00)',
 '[2016-10-19 18:20:00,2016-10-19 18:40:00)',
 '[2016-10-19 18:40:00,2016-10-19 19:00:00)',
 '[2016-10-20 08:00:00,2016-10-20 08:20:00)',
 '[2016-10-20 08:20:00,2016-10-20 08:40:00)',
 '[2016-10-20 08:40:00,2016-10-20 09:00:00)',
 '[2016-10-20 09:00:00,2016-10-20 09:20:00)',
 '[2016-10-20 09:20:00,2016-10-20 09:40:00)',
 '[2016-10-20 09:40:00,2016-10-20 10:00:00)',
 '[2016-10-20 17:00:00,2016-10-20 17:20:00)',
 '[2016-10-20 17:20:00,2016-10-20 17:40:00)',
 '[2016-10-20 17:40:00,2016-10-20 18:00:00)',
 '[2016-10-20 18:00:00,2016-10-20 18:20:00)',
 '[2016-10-20 18:20:00,2016-10-20 18:40:00)',
 '[2016-10-20 18:40:00,2016-10-20 19:00:00)',
 '[2016-10-21 08:00:00,2016-10-21 08:20:00)',
 '[2016-10-21 08:20:00,2016-10-21 08:40:00)',
 '[2016-10-21 08:40:00,2016-10-21 09:00:00)',
 '[2016-10-21 09:00:00,2016-10-21 09:20:00)',
 '[2016-10-21 09:20:00,2016-10-21 09:40:00)',
 '[2016-10-21 09:40:00,2016-10-21 10:00:00)',
 '[2016-10-21 17:00:00,2016-10-21 17:20:00)',
 '[2016-10-21 17:20:00,2016-10-21 17:40:00)',
 '[2016-10-21 17:40:00,2016-10-21 18:00:00)',
 '[2016-10-21 18:00:00,2016-10-21 18:20:00)',
 '[2016-10-21 18:20:00,2016-10-21 18:40:00)',
 '[2016-10-21 18:40:00,2016-10-21 19:00:00)',
 '[2016-10-22 08:00:00,2016-10-22 08:20:00)',
 '[2016-10-22 08:20:00,2016-10-22 08:40:00)',
 '[2016-10-22 08:40:00,2016-10-22 09:00:00)',
 '[2016-10-22 09:00:00,2016-10-22 09:20:00)',
 '[2016-10-22 09:20:00,2016-10-22 09:40:00)',
 '[2016-10-22 09:40:00,2016-10-22 10:00:00)',
 '[2016-10-22 17:00:00,2016-10-22 17:20:00)',
 '[2016-10-22 17:20:00,2016-10-22 17:40:00)',
 '[2016-10-22 17:40:00,2016-10-22 18:00:00)',
 '[2016-10-22 18:00:00,2016-10-22 18:20:00)',
 '[2016-10-22 18:20:00,2016-10-22 18:40:00)',
 '[2016-10-22 18:40:00,2016-10-22 19:00:00)',
 '[2016-10-23 08:00:00,2016-10-23 08:20:00)',
 '[2016-10-23 08:20:00,2016-10-23 08:40:00)',
 '[2016-10-23 08:40:00,2016-10-23 09:00:00)',
 '[2016-10-23 09:00:00,2016-10-23 09:20:00)',
 '[2016-10-23 09:20:00,2016-10-23 09:40:00)',
 '[2016-10-23 09:40:00,2016-10-23 10:00:00)',
 '[2016-10-23 17:00:00,2016-10-23 17:20:00)',
 '[2016-10-23 17:20:00,2016-10-23 17:40:00)',
 '[2016-10-23 17:40:00,2016-10-23 18:00:00)',
 '[2016-10-23 18:00:00,2016-10-23 18:20:00)',
 '[2016-10-23 18:20:00,2016-10-23 18:40:00)',
 '[2016-10-23 18:40:00,2016-10-23 19:00:00)',
 '[2016-10-24 08:00:00,2016-10-24 08:20:00)',
 '[2016-10-24 08:20:00,2016-10-24 08:40:00)',
 '[2016-10-24 08:40:00,2016-10-24 09:00:00)',
 '[2016-10-24 09:00:00,2016-10-24 09:20:00)',
 '[2016-10-24 09:20:00,2016-10-24 09:40:00)',
 '[2016-10-24 09:40:00,2016-10-24 10:00:00)',
 '[2016-10-24 17:00:00,2016-10-24 17:20:00)',
 '[2016-10-24 17:20:00,2016-10-24 17:40:00)',
 '[2016-10-24 17:40:00,2016-10-24 18:00:00)',
 '[2016-10-24 18:00:00,2016-10-24 18:20:00)',
 '[2016-10-24 18:20:00,2016-10-24 18:40:00)',
 '[2016-10-24 18:40:00,2016-10-24 19:00:00)'}

In [149]:
df5.dtypes

avg_travel_time                   float64
intersection_id                    object
time_window                        object
time_window_index                   int64
tollgate_id                         int64
weekday                             int64
route                              object
link_seq                           object
week_time_avg_speed               float64
week_route_car_number               int64
week_time_avg_travel_time         float64
route_avg_link_avg_travel_time    float64
route_avg_link_avg_speed          float64
dtype: object

In [150]:
df=pd.merge(df5,df4,how='left',on=['route','time_window'])

In [151]:
df.head(2)

,avg_travel_time_x,intersection_id_x,time_window,time_window_index,tollgate_id_x,weekday_x,route,link_seq,week_time_avg_speed,week_route_car_number,...,date,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation,datetime
0,681.30,A,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",0,2,1,A-2,"110,123,107,108,120,117",5.868187,129,...,2016-10-18,6,1012.5,1017.5,128.0,1.6,23.4,73.0,0.0,2016-10-18 06:00:00
1,128.11,A,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",1,2,1,A-2,"110,123,107,108,120,117",6.025384,140,...,2016-10-18,6,1012.5,1017.5,128.0,1.6,23.4,73.0,0.0,2016-10-18 06:00:00

In [152]:
df=pd.merge(df,df6,how='left',on=['route','time_window'])

In [153]:
df.shape

(504, 48)

In [154]:
df.to_csv('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/test_merge.csv')