In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties

In [74]:
#Load data
df1=pd.read_csv('./processed_data/train_1.csv',encoding='utf-8')
df2=pd.read_csv('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/weekday_data_train_withday.csv',encoding='utf-8')
df3=pd.read_excel('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/2h_route_avg_train.xlsx',encoding='utf-8')

In [75]:
df1.columns

Index(['Unnamed: 0', 'intersection_id', 'tollgate_id', 'time_window',
       'avg_travel_time', 'route', 'avg_travel_time_log', 'start_datetime',
       'start_hour', 'day_of_week', 'weekday', 'holiday', 'rush_hour',
       'hour_of_day', 'date', 'hour', 'pressure', 'sea_pressure',
       'wind_direction', 'wind_speed', 'temperature', 'rel_humidity',
       'precipitation', 'datetime'],
      dtype='object')

In [76]:
df2.head(2)

,route,time_window,time_window_index,weekday,intersection_id,tollgate_id,link_seq,week_route_avg_travel_time,week_route_car_number,week_time_avg_travel_time,route_avg_link_avg_travel_time,route_avg_link_avg_speed
0,A-3,"[2016-07-19 08:00:00,2016-07-19 08:20:00)",0.0,1.0,A,3,"110,123,107,108,119,114,118,122",6.951757,56,135.155,141.359282,8.600829
1,A-3,"[2016-07-26 08:00:00,2016-07-26 08:20:00)",0.0,1.0,A,3,"110,123,107,108,119,114,118,122",6.951757,56,135.155,141.359282,8.600829

In [77]:
df1['route']=df1['intersection_id']+'-'+df1['tollgate_id'].astype('str')
df3['route']=df3['intersection_id']+'-'+df3['tollgate_id'].astype('str')

In [79]:
df3.head(2)

,intersection_id,tollgate_id,time_window,avg_travel_time,time_window_start,time_window_end,time_window_2h_start,link_seq,link_list,link_num,road_length,route_car_number,route_avg_speed,route_avg_traveltime,route_total_traveltime,route
0,B,3,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",70.85,2016-07-19 00:00:00,2016-07-19 00:20:00,2016-07-18 22:00:00,"105,100,111,103,122","['105', '100', '111', '103', '122']",5,477,0,inf,0.0,0,B-3
1,B,3,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",148.79,2016-07-19 00:20:00,2016-07-19 00:40:00,2016-07-18 22:20:00,"105,100,111,103,122","['105', '100', '111', '103', '122']",5,477,1,6.814286,70.0,70,B-3

In [80]:
df1.shape

(25144, 24)

In [81]:
df3.columns

Index(['intersection_id', 'tollgate_id', 'time_window', 'avg_travel_time',
       'time_window_start', 'time_window_end', 'time_window_2h_start',
       'link_seq', 'link_list', 'link_num', 'road_length', 'route_car_number',
       'route_avg_speed', 'route_avg_traveltime', 'route_total_traveltime',
       'route'],
      dtype='object')

In [82]:
df=pd.merge(df2,df1,how='left',on=['route','time_window'])

In [84]:
df.head(5)

,route,time_window,time_window_index,weekday_x,intersection_id_x,tollgate_id_x,link_seq,week_route_avg_travel_time,week_route_car_number,week_time_avg_travel_time,...,date,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation,datetime
0,A-3,"[2016-07-19 08:00:00,2016-07-19 08:20:00)",0.0,1.0,A,3,"110,123,107,108,119,114,118,122",6.951757,56,135.155,...,2016-07-19,6,999.7,1004.5,239.0,1.9,31.8,64.0,0.0,2016-07-19 06:00:00
1,A-3,"[2016-07-26 08:00:00,2016-07-26 08:20:00)",0.0,1.0,A,3,"110,123,107,108,119,114,118,122",6.951757,56,135.155,...,2016-07-26,6,999.0,1003.7,254.0,2.2,38.4,43.0,0.0,2016-07-26 06:00:00
2,A-3,"[2016-08-02 08:00:00,2016-08-02 08:20:00)",0.0,1.0,A,3,"110,123,107,108,119,114,118,122",6.951757,56,135.155,...,2016-08-02,6,999.5,1004.3,216.0,2.8,37.3,44.0,0.0,2016-08-02 06:00:00
3,A-3,"[2016-08-09 08:00:00,2016-08-09 08:20:00)",0.0,1.0,A,3,"110,123,107,108,119,114,118,122",6.951757,56,135.155,...,2016-08-09,6,998.4,1003.2,59.0,2.0,31.7,70.0,0.0,2016-08-09 06:00:00
4,A-3,"[2016-08-23 08:00:00,2016-08-23 08:20:00)",0.0,1.0,A,3,"110,123,107,108,119,114,118,122",6.951757,56,135.155,...,2016-08-23,6,1000.7,1005.5,289.0,1.7,32.9,66.0,0.0,2016-08-23 06:00:00

In [85]:
df=pd.merge(df,df3,how='left',on=['route','time_window'])

In [87]:
df.shape

(4483, 48)

In [86]:
df.head(2)

,route,time_window,time_window_index,weekday_x,intersection_id_x,tollgate_id_x,link_seq_x,week_route_avg_travel_time,week_route_car_number,week_time_avg_travel_time,...,time_window_end,time_window_2h_start,link_seq_y,link_list,link_num,road_length,route_car_number,route_avg_speed,route_avg_traveltime,route_total_traveltime
0,A-3,"[2016-07-19 08:00:00,2016-07-19 08:20:00)",0.0,1.0,A,3,"110,123,107,108,119,114,118,122",6.951757,56,135.155,...,2016-07-19 08:20:00,2016-07-19 06:00:00,"110,123,107,108,119,114,118,122","['110', '123', '107', '108', '119', '114', '11...",8,852,23,6.437582,132.347826,3044
1,A-3,"[2016-07-26 08:00:00,2016-07-26 08:20:00)",0.0,1.0,A,3,"110,123,107,108,119,114,118,122",6.951757,56,135.155,...,2016-07-26 08:20:00,2016-07-26 06:00:00,"110,123,107,108,119,114,118,122","['110', '123', '107', '108', '119', '114', '11...",8,852,12,6.446406,132.166667,1586

In [88]:
df.to_csv('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/training_merge.csv')

In [144]:
#Load data
df4=pd.read_csv('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/test_1.csv',encoding='utf-8')
df5=pd.read_csv('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/test_data_with_weekdata 1.csv',encoding='utf-8')
df6=pd.read_excel('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/2h_route_avg_test.xlsx',encoding='utf-8')

In [145]:
df4['route']=df4['intersection_id']+'-'+df4['tollgate_id'].astype('str')
df6['route']=df6['intersection_id']+'-'+df6['tollgate_id'].astype('str')

In [146]:
df5['time_window']=df5['time_window'].astype('str')
df4['time_window']=df4['time_window'].astype('str')

In [147]:
set(df5['time_window'].values)

{'[2016-10-18 08:00:00,2016-10-18 08:20:00)',
 '[2016-10-18 08:20:00,2016-10-18 08:40:00)',
 '[2016-10-18 08:40:00,2016-10-18 09:00:00)',
 '[2016-10-18 09:00:00,2016-10-18 09:20:00)',
 '[2016-10-18 09:20:00,2016-10-18 09:40:00)',
 '[2016-10-18 09:40:00,2016-10-18 10:00:00)',
 '[2016-10-18 17:00:00,2016-10-18 17:20:00)',
 '[2016-10-18 17:20:00,2016-10-18 17:40:00)',
 '[2016-10-18 17:40:00,2016-10-18 18:00:00)',
 '[2016-10-18 18:00:00,2016-10-18 18:20:00)',
 '[2016-10-18 18:20:00,2016-10-18 18:40:00)',
 '[2016-10-18 18:40:00,2016-10-18 19:00:00)',
 '[2016-10-19 08:00:00,2016-10-19 08:20:00)',
 '[2016-10-19 08:20:00,2016-10-19 08:40:00)',
 '[2016-10-19 08:40:00,2016-10-19 09:00:00)',
 '[2016-10-19 09:00:00,2016-10-19 09:20:00)',
 '[2016-10-19 09:20:00,2016-10-19 09:40:00)',
 '[2016-10-19 09:40:00,2016-10-19 10:00:00)',
 '[2016-10-19 17:00:00,2016-10-19 17:20:00)',
 '[2016-10-19 17:20:00,2016-10-19 17:40:00)',
 '[2016-10-19 17:40:00,2016-10-19 18:00:00)',
 '[2016-10-19 18:00:00,2016-10-19 18:20:00)',
 '[2016-10-19 18:20:00,2016-10-19 18:40:00)',
 '[2016-10-19 18:40:00,2016-10-19 19:00:00)',
 '[2016-10-20 08:00:00,2016-10-20 08:20:00)',
 '[2016-10-20 08:20:00,2016-10-20 08:40:00)',
 '[2016-10-20 08:40:00,2016-10-20 09:00:00)',
 '[2016-10-20 09:00:00,2016-10-20 09:20:00)',
 '[2016-10-20 09:20:00,2016-10-20 09:40:00)',
 '[2016-10-20 09:40:00,2016-10-20 10:00:00)',
 '[2016-10-20 17:00:00,2016-10-20 17:20:00)',
 '[2016-10-20 17:20:00,2016-10-20 17:40:00)',
 '[2016-10-20 17:40:00,2016-10-20 18:00:00)',
 '[2016-10-20 18:00:00,2016-10-20 18:20:00)',
 '[2016-10-20 18:20:00,2016-10-20 18:40:00)',
 '[2016-10-20 18:40:00,2016-10-20 19:00:00)',
 '[2016-10-21 08:00:00,2016-10-21 08:20:00)',
 '[2016-10-21 08:20:00,2016-10-21 08:40:00)',
 '[2016-10-21 08:40:00,2016-10-21 09:00:00)',
 '[2016-10-21 09:00:00,2016-10-21 09:20:00)',
 '[2016-10-21 09:20:00,2016-10-21 09:40:00)',
 '[2016-10-21 09:40:00,2016-10-21 10:00:00)',
 '[2016-10-21 17:00:00,2016-10-21 17:20:00)',
 '[2016-10-21 17:20:00,2016-10-21 17:40:00)',
 '[2016-10-21 17:40:00,2016-10-21 18:00:00)',
 '[2016-10-21 18:00:00,2016-10-21 18:20:00)',
 '[2016-10-21 18:20:00,2016-10-21 18:40:00)',
 '[2016-10-21 18:40:00,2016-10-21 19:00:00)',
 '[2016-10-22 08:00:00,2016-10-22 08:20:00)',
 '[2016-10-22 08:20:00,2016-10-22 08:40:00)',
 '[2016-10-22 08:40:00,2016-10-22 09:00:00)',
 '[2016-10-22 09:00:00,2016-10-22 09:20:00)',
 '[2016-10-22 09:20:00,2016-10-22 09:40:00)',
 '[2016-10-22 09:40:00,2016-10-22 10:00:00)',
 '[2016-10-22 17:00:00,2016-10-22 17:20:00)',
 '[2016-10-22 17:20:00,2016-10-22 17:40:00)',
 '[2016-10-22 17:40:00,2016-10-22 18:00:00)',
 '[2016-10-22 18:00:00,2016-10-22 18:20:00)',
 '[2016-10-22 18:20:00,2016-10-22 18:40:00)',
 '[2016-10-22 18:40:00,2016-10-22 19:00:00)',
 '[2016-10-23 08:00:00,2016-10-23 08:20:00)',
 '[2016-10-23 08:20:00,2016-10-23 08:40:00)',
 '[2016-10-23 08:40:00,2016-10-23 09:00:00)',
 '[2016-10-23 09:00:00,2016-10-23 09:20:00)',
 '[2016-10-23 09:20:00,2016-10-23 09:40:00)',
 '[2016-10-23 09:40:00,2016-10-23 10:00:00)',
 '[2016-10-23 17:00:00,2016-10-23 17:20:00)',
 '[2016-10-23 17:20:00,2016-10-23 17:40:00)',
 '[2016-10-23 17:40:00,2016-10-23 18:00:00)',
 '[2016-10-23 18:00:00,2016-10-23 18:20:00)',
 '[2016-10-23 18:20:00,2016-10-23 18:40:00)',
 '[2016-10-23 18:40:00,2016-10-23 19:00:00)',
 '[2016-10-24 08:00:00,2016-10-24 08:20:00)',
 '[2016-10-24 08:20:00,2016-10-24 08:40:00)',
 '[2016-10-24 08:40:00,2016-10-24 09:00:00)',
 '[2016-10-24 09:00:00,2016-10-24 09:20:00)',
 '[2016-10-24 09:20:00,2016-10-24 09:40:00)',
 '[2016-10-24 09:40:00,2016-10-24 10:00:00)',
 '[2016-10-24 17:00:00,2016-10-24 17:20:00)',
 '[2016-10-24 17:20:00,2016-10-24 17:40:00)',
 '[2016-10-24 17:40:00,2016-10-24 18:00:00)',
 '[2016-10-24 18:00:00,2016-10-24 18:20:00)',
 '[2016-10-24 18:20:00,2016-10-24 18:40:00)',
 '[2016-10-24 18:40:00,2016-10-24 19:00:00)'}

In [148]:
set(df4['time_window'].values)

{'[2016-10-18 08:00:00,2016-10-18 08:20:00)',
 '[2016-10-18 08:20:00,2016-10-18 08:40:00)',
 '[2016-10-18 08:40:00,2016-10-18 09:00:00)',
 '[2016-10-18 09:00:00,2016-10-18 09:20:00)',
 '[2016-10-18 09:20:00,2016-10-18 09:40:00)',
 '[2016-10-18 09:40:00,2016-10-18 10:00:00)',
 '[2016-10-18 17:00:00,2016-10-18 17:20:00)',
 '[2016-10-18 17:20:00,2016-10-18 17:40:00)',
 '[2016-10-18 17:40:00,2016-10-18 18:00:00)',
 '[2016-10-18 18:00:00,2016-10-18 18:20:00)',
 '[2016-10-18 18:20:00,2016-10-18 18:40:00)',
 '[2016-10-18 18:40:00,2016-10-18 19:00:00)',
 '[2016-10-19 08:00:00,2016-10-19 08:20:00)',
 '[2016-10-19 08:20:00,2016-10-19 08:40:00)',
 '[2016-10-19 08:40:00,2016-10-19 09:00:00)',
 '[2016-10-19 09:00:00,2016-10-19 09:20:00)',
 '[2016-10-19 09:20:00,2016-10-19 09:40:00)',
 '[2016-10-19 09:40:00,2016-10-19 10:00:00)',
 '[2016-10-19 17:00:00,2016-10-19 17:20:00)',
 '[2016-10-19 17:20:00,2016-10-19 17:40:00)',
 '[2016-10-19 17:40:00,2016-10-19 18:00:00)',
 '[2016-10-19 18:00:00,2016-10-19 18:20:00)',
 '[2016-10-19 18:20:00,2016-10-19 18:40:00)',
 '[2016-10-19 18:40:00,2016-10-19 19:00:00)',
 '[2016-10-20 08:00:00,2016-10-20 08:20:00)',
 '[2016-10-20 08:20:00,2016-10-20 08:40:00)',
 '[2016-10-20 08:40:00,2016-10-20 09:00:00)',
 '[2016-10-20 09:00:00,2016-10-20 09:20:00)',
 '[2016-10-20 09:20:00,2016-10-20 09:40:00)',
 '[2016-10-20 09:40:00,2016-10-20 10:00:00)',
 '[2016-10-20 17:00:00,2016-10-20 17:20:00)',
 '[2016-10-20 17:20:00,2016-10-20 17:40:00)',
 '[2016-10-20 17:40:00,2016-10-20 18:00:00)',
 '[2016-10-20 18:00:00,2016-10-20 18:20:00)',
 '[2016-10-20 18:20:00,2016-10-20 18:40:00)',
 '[2016-10-20 18:40:00,2016-10-20 19:00:00)',
 '[2016-10-21 08:00:00,2016-10-21 08:20:00)',
 '[2016-10-21 08:20:00,2016-10-21 08:40:00)',
 '[2016-10-21 08:40:00,2016-10-21 09:00:00)',
 '[2016-10-21 09:00:00,2016-10-21 09:20:00)',
 '[2016-10-21 09:20:00,2016-10-21 09:40:00)',
 '[2016-10-21 09:40:00,2016-10-21 10:00:00)',
 '[2016-10-21 17:00:00,2016-10-21 17:20:00)',
 '[2016-10-21 17:20:00,2016-10-21 17:40:00)',
 '[2016-10-21 17:40:00,2016-10-21 18:00:00)',
 '[2016-10-21 18:00:00,2016-10-21 18:20:00)',
 '[2016-10-21 18:20:00,2016-10-21 18:40:00)',
 '[2016-10-21 18:40:00,2016-10-21 19:00:00)',
 '[2016-10-22 08:00:00,2016-10-22 08:20:00)',
 '[2016-10-22 08:20:00,2016-10-22 08:40:00)',
 '[2016-10-22 08:40:00,2016-10-22 09:00:00)',
 '[2016-10-22 09:00:00,2016-10-22 09:20:00)',
 '[2016-10-22 09:20:00,2016-10-22 09:40:00)',
 '[2016-10-22 09:40:00,2016-10-22 10:00:00)',
 '[2016-10-22 17:00:00,2016-10-22 17:20:00)',
 '[2016-10-22 17:20:00,2016-10-22 17:40:00)',
 '[2016-10-22 17:40:00,2016-10-22 18:00:00)',
 '[2016-10-22 18:00:00,2016-10-22 18:20:00)',
 '[2016-10-22 18:20:00,2016-10-22 18:40:00)',
 '[2016-10-22 18:40:00,2016-10-22 19:00:00)',
 '[2016-10-23 08:00:00,2016-10-23 08:20:00)',
 '[2016-10-23 08:20:00,2016-10-23 08:40:00)',
 '[2016-10-23 08:40:00,2016-10-23 09:00:00)',
 '[2016-10-23 09:00:00,2016-10-23 09:20:00)',
 '[2016-10-23 09:20:00,2016-10-23 09:40:00)',
 '[2016-10-23 09:40:00,2016-10-23 10:00:00)',
 '[2016-10-23 17:00:00,2016-10-23 17:20:00)',
 '[2016-10-23 17:20:00,2016-10-23 17:40:00)',
 '[2016-10-23 17:40:00,2016-10-23 18:00:00)',
 '[2016-10-23 18:00:00,2016-10-23 18:20:00)',
 '[2016-10-23 18:20:00,2016-10-23 18:40:00)',
 '[2016-10-23 18:40:00,2016-10-23 19:00:00)',
 '[2016-10-24 08:00:00,2016-10-24 08:20:00)',
 '[2016-10-24 08:20:00,2016-10-24 08:40:00)',
 '[2016-10-24 08:40:00,2016-10-24 09:00:00)',
 '[2016-10-24 09:00:00,2016-10-24 09:20:00)',
 '[2016-10-24 09:20:00,2016-10-24 09:40:00)',
 '[2016-10-24 09:40:00,2016-10-24 10:00:00)',
 '[2016-10-24 17:00:00,2016-10-24 17:20:00)',
 '[2016-10-24 17:20:00,2016-10-24 17:40:00)',
 '[2016-10-24 17:40:00,2016-10-24 18:00:00)',
 '[2016-10-24 18:00:00,2016-10-24 18:20:00)',
 '[2016-10-24 18:20:00,2016-10-24 18:40:00)',
 '[2016-10-24 18:40:00,2016-10-24 19:00:00)'}

In [149]:
df5.dtypes

avg_travel_time                   float64
intersection_id                    object
time_window                        object
time_window_index                   int64
tollgate_id                         int64
weekday                             int64
route                              object
link_seq                           object
week_time_avg_speed               float64
week_route_car_number               int64
week_time_avg_travel_time         float64
route_avg_link_avg_travel_time    float64
route_avg_link_avg_speed          float64
dtype: object

In [150]:
df=pd.merge(df5,df4,how='left',on=['route','time_window'])

In [151]:
df.head(2)

,avg_travel_time_x,intersection_id_x,time_window,time_window_index,tollgate_id_x,weekday_x,route,link_seq,week_time_avg_speed,week_route_car_number,...,date,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation,datetime
0,681.30,A,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",0,2,1,A-2,"110,123,107,108,120,117",5.868187,129,...,2016-10-18,6,1012.5,1017.5,128.0,1.6,23.4,73.0,0.0,2016-10-18 06:00:00
1,128.11,A,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",1,2,1,A-2,"110,123,107,108,120,117",6.025384,140,...,2016-10-18,6,1012.5,1017.5,128.0,1.6,23.4,73.0,0.0,2016-10-18 06:00:00

In [152]:
df=pd.merge(df,df6,how='left',on=['route','time_window'])

In [153]:
df.shape

(504, 48)

In [154]:
df.to_csv('/Users/liuxueling/PycharmProjects/python3pj/5002/Project/data5002/processed_data/test_merge.csv')